extends layout

block content
  section.hero.is-info.is-fullheight(style="background-image: url(/images/background_etho.jpg)")
    .hero-body
      .container
        .row
          .container.m-2.has-text-centered
            .col-12.is-centered.text-light
              h1.text-light The faucet is offline
              h2.has-text-grey-light Come back later
